[Desktop Entry]
Encoding=UTF-8
DesktopNames=DWM
Name=Dwm
Comment=Dynamic window manager for leuck
Exec=/usr/local/bin/dwminit.sh
Icon=dwm
Type=XSession
